:root {
    --header_height: 50px;
}

.main-content {
    background-color: lightblue;
    min-height: calc(100vh - var(--header_height));
    display: flex;
    padding-top: var(--header_height);
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.main-content .structure {
    border: 3px solid black;
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 50px;
}

.main-content .structure-1 {
    border: 3px solid red;
    flex: 1;
}

.main-content .structure-2 {
    border: 3px solid green;
    float: right;
}

.main-content .structure-2 img{
    width: 200px;
    height: 200px;
}

.main-content-two {
    background-color: lightgreen;
    min-height: 100vh;
    max-height: fit-content;
    display: flex;
    align-items: center;
    padding: 10px;
}

.main-content-two .project {
    border: 3px solid black;
    width: 32%;
    height: 300px;
}

.main-content-two .project img {
    border: 3px solid black;
    width: 98%;
    height: 80%;
}

.main-content-two .project-more {
    border: 3px solid black;
    width: 32%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-content-two {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border: 3px solid red;
    gap: 5px 5px;
    width: 100%;
    padding: 5px;
}