header {
    text-align: center;
    color: white;
    display: flex;
    position: absolute;
    width: 100%;
}

#header {
    background: #bc1a1a;
}

#header2 {
    background: #1abc9c;
    position: fixed;
    width: 100%;
}

header div {
    flex-grow: 1;
    border: 3px solid black;
    display: flex;
    column-gap: 15px;
    height: 40px;
}

header .header-logo {
    justify-content: flex-start;
    padding-left: 20px;
}

header .header-web-links {
    justify-content: center;
}

header .header-web-links * {
    border: 3px solid red;
    justify-content: center;
    align-items: center;
}

header .header-out-links {
    justify-content: flex-end;
    padding-right: 20px;
}

header .header-out-links * {
    border: 3px solid blue;
}